<nav class="profileLinkEdit {{#if profileLinkEdit-text-align-class}}{{profileLinkEdit-text-align-class}}{{else}}profileLinkEdit-text-align-start{{/if}}">
	<a href="{{url}}" class={{#if profileLinkEdit-color-class}}{{profileLinkEdit-color-class}}{{else}}"profileLinkEdit-a-blue"{{/if}}>{{linktext}}</a>
</nav>
