<nav class="profilelinkedit {{#if profilelinkedit-text-align-class}}{{profilelinkedit-text-align-class}}{{else}}profilelinkedit-text-align-start{{/if}}">
	<a href="{{url}}" class={{#if profilelinkedit-color-class}}{{profilelinkedit-color-class}}{{else}}"profilelinkedit-a-blue"{{/if}}>{{linktext}}</a>
</nav>
