<div class="inputbox">
	<label for="{{name}}" class="small-label">{{labeltext}}</label>
	<input type="{{type}}" id="{{name}}" name="{{name}}" class="input-with-bottom-line">
	<label for="{{name}}" class="validation">validation data</label>
</div>
