<div class="profileparambox">
	<label for="{{name}}" class="profileparam-label">{{labeltext}}</label>
	<input type="{{type}}" 
		id="{{name}}" name="{{name}}" 
		class="profileparam-input" 
		{{#if readonly}}readonly="readonly"{{else}}{{/if}}
		placeholder="data here">
	<label for="{{name}}" class="profileparam-validation">validation data</label>
</div>
