<div class="profileParamBox">
	<label for="{{name}}" class="profileParam-label">{{labeltext}}</label>
	<input type="{{type}}" 
		id="{{name}}" name="{{name}}" 
		class="profileParam-input"
		{{#if readonly}}readonly="readonly"{{else}}{{/if}}
		placeholder="data here">
	<label for="{{name}}" class="profileParam-validation">validation data</label>
</div>
